  <div class="top-background"></div>
  
<div class="top-about">
  <h1 class="top-about-title">このサイトについて</h1>
  <p class="top-about-description">
    農家の方が作る野菜で、少し欠けてたり、形が悪く商品として出荷できないものは破棄している現状があります。<br>
    破棄するより、各地方で生産されている新鮮で美味しい野菜を、消費者の方に食べていただいたほうが<br>
    農家の方も消費者もハッピーになるのではないかと考えたのが、このサイト作成に至ったきっかけです。<br>
    このサイトが、農家の方と消費者との架け橋に少しでもなれば幸いです。
  </p>
</div>
