<h2 class="producer-title">生産者一覧</h2><hr>
<div class="producer-wrapper">
    <% @producers.each do |producer| %>

    <div class="producers-card">
    <%= link_to producer_path(producer) do  %>
      <% if producer.image.attached? %>
        <p class="producer-image"><%= image_tag producer.image %></p>
      <% else %>
        <p class="producer-image"><%= image_tag "default-user.png" %></p>
      <% end %>
        <p class="producer-name"><%= producer.name %></p>
     <% end %>  
    </div>

    <% end %>
</div>