// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-actions input{
  display: block;
  width: 200px;
  padding: 13px;
  color: #fff;
  background: rgb(26, 106, 255);
  border-radius: 4px;
  margin: 0 auto;
  border:none;
  cursor: pointer;
}

.products-wrapper{ //商品一覧
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 950px;
  margin: 30px auto 0px auto;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #dddddd;
}

.product-container {
  margin: 21px;
  border: 1px solid #dddddd;
  width:270px;
}

.product-index-image{
  text-align: center;
  margin-top: 10px
}

.product-index-image img{
  border: 1px solid #dddddd;
  width: 150px;
  height: 150px;
}
.product-image-container{
  display: flex;
}
.producer-image img{
  margin: 15px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.product-content{
  width:100px;

}

.producer-index-about{
  width: 115px;
  padding: 10px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}

.product-title{
  margin: 10px 0;
  text-align: center;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 5px;
}

.product-wrapper{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 950px;
  margin: 30px auto 0px auto;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #dddddd;
}

.show-product-wrapper{
  display: flex;
  width: 950px;
  margin: 30px auto 0px auto;
  font-family: Arial, Helvetica, sans-serif;
}

.show-product-image img{
  width: 340px;
  height: 300px;
}

.show-product-content{
  margin-left: 100px;
  width: 450px;
}

.show-product-about{
  font-size: 20px;
  padding: 15px 20px;
}

.show-product-about p{
  font-size: 15px;
  line-height: 30px;
}

.show-comment-title{
  font-size: 23px;
  margin-top: 35px;
  padding: 25px;
  text-align: center;
}

.show-comment {
  text-align: center;
}

.comment-container{
  width: 950px;
  display: flex;
  margin: 0 auto;
  align-items: center;
}


.comment-user-image{
  margin: 10px 0 10px 5px;
}

.comment-user-image img{
  border-radius: 50%;
  width: 60px;
  height:60px;
}

.comment-content{
  margin:10px 5px 0 5px;
}

.remove-comment{
  margin:10px 5px 0 5px;
}

.dm-field {
  padding: 15px 20px;
  margin-bottom:20px;
}

.dm-field input{
  width: 200px;
  padding: 15px;
  color: #fff;
  background-color: #dac37c;
  border:none;
  cursor: pointer;
}

.dm-field a{
  padding: 15px 70px;
  color: #fff;
  background-color: #dac37c;
}

.product-desctiption{
  border: 1px solid #dddddd;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.show-producer{
  width: 950px;
  display: flex;
  margin: 0 auto;
}

.show-producer-image{
  margin:20px 30px;
}
.show-producer-image img{
border-radius: 50%;
width: 150px;
height: 150px;
}


.show-producer-name{
  font-size: 25px;
  margin-top: 40px;
}

.show-producer-description{
  width: 950px;
  margin: 10px auto 0px auto;
}
.show-producer-description p{
  line-height: 30px;
}

.chat-title{
  font-size: 23px;
    padding: 25px;
    text-align: center;
}

.fa-heart{
  color: rgb(223, 0, 56);
}
